@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika';
}

body {
    overflow-x: hidden;

}

main {
    position: relative;
    width: 100%;
}

#carritoCompra {
    position: relative;
    margin-left: 150px;
    width: 40px;
}

.navbar-custom{/*Color de fondo para Navbar */
    border-radius: 8px;
    background-color: rgba(220, 239, 195, 1);
}

.logo {
    width: 12%; /*Se aumentó en un 7%*/
    height: 25%; /*Se estableció en 25%*/
    margin-right: 30px;
    margin-left: 10px;
}

.logo_2 {
    width: 60%;
    margin-left: -20px;
    padding-left: -20px;
}

.footer {/*footer*/
    bottom: 0px;
    width: 100%;
    display:inline-flex;
    background-color: rgba(220, 239, 195, 1);
    justify-content: space-around;
}

.footer-politicas {
    color: #000;
    text-align: center;
    font-size: 30px;
    position: flex;
    padding-top: 20px;
}
.footer-lobo {
    height: 6vw;
    position: relative;
}
.lobo{
    width: 350px;
    height: 80px;
}
.footer-socialmedia {
    position: relative;
    float: inline-end;
    top: 15px;
    width: 40px;
    height: 40px;
}/*final del footer*/

p {
    font-size: 20px;
}

.sobrenosotros {
    display: flex;
    text-align: center;
    margin: 2%;
}

#imagensn {
    align-self: center;
    width: 20%;
}

#textosn {
    align-self: center;
    width: 80%;
}

#titulosn {
    text-align: center;
    background-color: rgba(74, 77, 71, 0.856);
    color: white;
    border-radius: 50px;
    padding: 0.5%;
    letter-spacing: 2px;
}


.project {
    display: flex;
    text-align: center;
    margin: 20px;
}

.project-left {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80%;
}

.project-right {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 20%;
}

@media (max-width: 900px) {

    .sobrenosotros {
        display: flex;
        flex-direction: column;
    }

    .project {
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    .project-right {
        display: flexbox;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 20%;
    }

    .project-left {
        display: flexbox;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 80%;
    }

    .img-prin {
        display: none;
    }
}

@media (min-width: 900px) {
    .img-sec {
        display: none;
    }
}

.prinTitulo {
    text-align: center;
    background-color: rgba(74, 77, 71, 0.856);
    color: white;
    border-radius: 50px;
    padding: 0.5%;
    letter-spacing: 2px;
}

.footer {
    bottom: 0px;
    width: 100%;
    display: inline-flex;
    background-color: rgba(220, 239, 195, 1);
    height: 10vw;
    justify-content: space-around;
}

.footer-politicas {
    color: #000;
    text-align: center;
    font-size: 30px;
    position: flex;
    padding-top: 20px;

}

.footer-lobo {
    height: 6vw;
    position: relative;
    top: 10px;
}

.footer-socialmedia {
    height: 4vw;
    position: relative;
    float: inline-end;
    top: 15px;
}












/* acerca de */
/* acerca de */
h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: auto;
    height: auto;
    display: inline-block;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 60px;
}

.section-head h4 {
    position: relative;
    padding: 0;
    color: #f91942;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.section-head h4:before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.section-head h4 span {
    font-weight: 700;
    padding-bottom: 5px;
    color: #2f2f2f
}

p.service_text {
    color: #cccccc !important;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-head p,
p.awesome_line {
    color: #818181;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.extra-text {
    font-size: 34px;
    font-weight: 700;
    color: #2f2f2f;
    margin-bottom: 25px;
    position: relative;
    text-transform: none;
}

.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}

.extra-text span {
    font-weight: 700;
    color: #f91942;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.07);
    margin: 20px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover {
    background: #187498;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon,
.item:hover .iconI {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    color: white;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}

.item .icon {
    margin-bottom: 25px;
    color: #f91942;
    line-height: 96px;
    border-radius: 50px;
}

.iconI {
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.20);
    color: #f91942
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #f91942
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #f91942
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #f91942
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #f91942
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #f91942
}

.item p {
    font-size: 15px;
    line-height: 26px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
}

.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}

.mission .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f91942;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}

.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}

.skills {
    padding-top: 0px;
}

.skills .prog-item {
    margin-bottom: 25px;
}

.skills .prog-item:last-child {
    margin-bottom: 0;
}

.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 20px;
    position: relative;
}

.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #F0E0B5;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}

.container_aboutus {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 25px;
    margin-left: 25px;
    justify-content: center;
}

