@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@320&display=swap");
* {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    overflow-x: hidden;
    background-color: #F6F2ED;
}

main {
    position: relative;
    width: 100%;
}

#carritoCompra {
    position: relative;
    margin-left: 150px;
    width: 40px;
}

.navbar-custom {
    /*Color de fondo para Navbar */
    border-radius: 8px;
    background-color: rgba(220, 239, 195, 1);
}

.logo {
    width: 12%;
    /*Se aumentó en un 7%*/
    height: 25%;
    /*Se estableció en 25%*/
    margin-right: 30px;
    margin-left: 10px;
}

.logo_2 {
    width: 60%;
    margin-left: -20px;
    padding-left: -20px;
}

#btnCategoriaCatalogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    position: static;
    width: 90%;
    height: auto;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#btnCategoriaCatalogo a {
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    color: black;
    cursor: pointer;
}

#btnCategoriaCatalogo a:hover {
    background: #F0E0B5;
}

#tarjetas img {
    display: block;
    margin: auto;
    width: 80%;
    height: 50%;
}

#active {
    background: #F0E0B5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn {
    border-color: black;
}


/*footer*/

.footer {
    bottom: 0px;
    height: 13vh;
    width: 100%;
    display: inline-flex;
    background-color: rgba(220, 239, 195, 1);
    justify-content: space-around;
    align-items: center;
}

.footer-politicas {
    color: #000;
    text-align: center;
    font-size: 2vmin;
    position: flex;
}

.footer-lobo {
    height: 10vh;
    width: 20vmin;
    position: relative;
    display: block;
}

.footer-socialmedia {
    width: 6vmin;
}


/*final del footer*/


/*ESTILO DE IMAGENES DE PRODUCTOS*/

.ImgProdCat {
    width: 50% px;
    height: 50%px;
    align-self: center;
}

#tarjetas {
    background-color: #F6F2ED;
    width: 90%;
}


/*ESTILO DE TARJETAS DE PRODUCTOS*/

.card {
    width: 90%;
    height: 450px;
    margin: 0px auto;
    align-self: center;
    margin-bottom: 10%;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 20px;
}


/*ESTILO DE TEXTO DE PRODUCTOS*/

.card-text-cost {
    text-align: center;
    font-size: large;
}

.card-title {
    text-align: center;
    font-size: calc(0.75em+1vmin);
}


/* ESTILO BOTONES*/

.btnDetallesClass {
    width: 120px;
    width: fit-content;
}

.btnAgregarClass {
    width: 150px;
    width: fit-content;
}

.star {
    padding-top: 10px;
}