@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika';
}

body {
    overflow-x: hidden;

}

main {
    position: relative;
    width: 100%;
}

#carritoCompra {
    position: relative;
    margin-left: 150px;
    width: 40px;
}

.navbar-custom{/*Color de fondo para Navbar */
    border-radius: 8px;
    background-color: rgba(220, 239, 195, 1);
}

.logo {
    width: 12%; /*Se aumentó en un 7%*/
    height: 25%; /*Se estableció en 25%*/
    margin-right: 30px;
    margin-left: 10px;
}

.logo_2 {
    width: 60%;
    margin-left: -20px;
    padding-left: -20px;
}

#btnCategoriaCatalogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
	position: static;
	width: 50px auto;
	height: auto;
	background-color: #F0D7C5;
    border-radius: 8px;
    padding: 5px;
}

#btnCategoriaCatalogo a {
	border-radius: 15px;
    padding: 10px 20px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform:capitalize;
	text-align: center;
	color: black;
	cursor: pointer;
}

#btnCategoriaCatalogo a:hover {
    background: #C5F0EA;
}

#tarjetas img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}



.btn {
    border-color: black;
}

/*footer*/
.footer {
    bottom: 0px;
    height: 13vh;
    width: 100%;
    display:inline-flex;
    background-color: rgba(220, 239, 195, 1);
    justify-content: space-around;
    align-items: center;
}

.footer-politicas {
    color: #000;
    text-align: center;
    font-size: 2vmin;
    position: flex;
}

.footer-lobo {
    height: 10vh;
    width: 20vmin;
    position: relative;
    display: block;
}

.footer-socialmedia {
    width: 6vmin;
}/*final del footer*/

/*ESTILO DE IMAGENES DE PRODUCTOS*/
.ImgProdCat{
    width: 200px;
    height: 200px;
    align-self: center;
}

/*ESTILO DE TARJETAS DE PRODUCTOS*/
.card{
    width: 90%;
    height: 390px;
    margin: 0px auto;
    align-self: center;
    margin-bottom: 10%;
    border: none;
}

/*ESTILO DE TEXTO DE PRODUCTOS*/
.card-text-cost{
    text-align: center;
    font-size: large;
}
.card-title{
    text-align: center;
    font-size: larger;
}

/* ESTILO BOTONES*/
#btnDetalles{
    width:120px;
}
#btnAgregar{
    width: 150px;
}