@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika';
}

body {
    overflow-x: hidden;

}

main {
    position: relative;
    width: 100%;
}

#carritoCompra {
    position: relative;
    margin-left: 150px;
    width: 40px;
}

.navbar-custom{/*Color de fondo para Navbar */
    border-radius: 8px;
    background-color: rgba(220, 239, 195, 1);
}

.logo {
    width: 12%; /*Se aumentó en un 7%*/
    height: 25%; /*Se estableció en 25%*/
    margin-right: 30px;
    margin-left: 10px;
}

.logo_2 {
    width: 60%;
    margin-left: -20px;
    padding-left: -20px;
}

/*footer*/
.footer {
    bottom: 0px;
    height: 13vh;
    width: 100%;
    display:inline-flex;
    background-color: rgba(220, 239, 195, 1);
    justify-content: space-around;
    align-items: center;
}

.footer-politicas {
    color: #000;
    text-align: center;
    font-size: 2vmin;
    position: flex;
}

.footer-lobo {
    height: 10vh;
    width: 20vmin;
    position: relative;
    
    display: block;
}


.footer-socialmedia {
    width: 6vmin;
    
}/*final del footer*/


/*PAGINA*/

/*SECTION INGRESO*/
#ingreso{
    margin-top: 20px;
}


/*SECTION PRODUCTOS*/
.Productos{
    border: 0.1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    float: left;
}

.Imgprod{
    width: 200px;
}


.summary.summary-cart {
    margin-bottom: 3rem;
}

.summary {
    padding: 2.5rem 3rem 3rem;
    border: 0.1rem dashed #d7d7d7;
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: right;
}

tbody {
   
    
    vertical-align: middle;
    border-color: inherit;
}