@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@320&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}

body {
    overflow-x: hidden;
}

main {
    position: relative;
    width: 100%;
    margin-bottom: inherit;
    background-image: url('http://drive.google.com/uc?export=view&id=1v-r2nx_WTtSh4c10fZT2ZaLWWS0Utvgg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

/*PAGINA*/

/*SECTION INGRESO*/
i{
    margin: 2%;
}
#contenedor{
    display:flex;
    flex-direction: column;
}
.Ingreso{
    margin-top: 20px;
    margin-left: 50px;
}


/*SECTION PRODUCTOS*/
.card{
    margin-left : 15%;
    width: 40%;
    min-width: 30%;
    padding: 1%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
}

#listaProductos{
    text-align: center;
    font-size: small;
    margin-top: 20px;
    margin-bottom: 0%;
}

#tituloprod{
    font-size: 25px;
}

#tproductos{
    color: rgb(0, 0, 0);
    margin-top: 2%;
    letter-spacing: 2px;
    margin-left : 29%;
}
.Imgprod{
    width: 170px;
    height: 170px;
}

.summarytitle{
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0.5%;
    letter-spacing: 2px;
}

#resumen{
    padding: 1rem 2rem 2rem;
    /* border: 0.1rem dashed #727272; */
    background-color: #d6e6f100;
    border-radius: 0.3rem;
    margin-right: 2%;
    float: right;
    width: fit-content; 
    /* background-image:url('https://fondosmil.com/fondo/17538.jpg'); */
    background-color: rgba(222, 226, 230, 0.26);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.301);
   
}


tbody {
    vertical-align: middle;
    border-color: inherit;
}

td{
    font-size: larger;
}


@media (max-width: 1050px) {

    .card{
        margin: auto;
        width: 80%;
    }

    #ingreso{
        margin: auto;
        margin-top: 5%;
    }

    #resumen{
        float: none;
        margin: auto;
        margin-bottom: 10%;
    }
    #botones{
        display: flex;
        justify-content: space-around;
    }

    #listaProductos{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    #contenedor{
        align-items: center;
    }

    #tproductos{
        margin-left : 0%;
    }

    .Ingreso{
        margin-left: 0;
    }
}