@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika';
}

body {
    overflow-x: hidden;


}

/*Inicio-formulario*/

/* #op{
    background-image:url('http://drive.google.com/uc?export=view&id=1CWUvKC-GmKbOlj8MkwzpkQJzVEI1jTFg'); */
    /* background-repeat:no-repeat; */
    /* background-position-y:center; */
    /* background-size: cover; */
/* } */
.contenedor{
    padding: 3%;
    width: 90%;
    margin: auto;
    width: fit-content;
}

.form{
    width: fit-content;

}

.formregistro{
    display: flex;
    width: 110%;
    background-color: rgba(225, 228, 225, 0.055);
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 6px rgba(58, 59, 59, 0.233);
    background-image:url("https://fondosmil.com/fondo/17538.jpg");
    /* /* background-repeat:no-repeat; */
    background-position-y:center;
    background-size: 50rem;
    opacity: 1;
}

.tituloRegistro{
    text-align: center;
    color: rgb(10, 10, 10);
    font-weight: bold;
    width: 40%;
    margin-top: 3%;
    letter-spacing: 4px;
}

input::placeholder {
    font-size: 78%;
  }

.alert {
    color: red;
    font-size: 9px;
}

.casillaForm{
    display: inline-block;
    padding: 4vh;
    width: 50vmin;
}

#checkbox{
    font-size :smaller;
    color: rgba(78, 85, 83, 0.767);
    text-align: left;

}


/* Inicio de Botones*/
.containerBtn{
 display: flex;
 justify-content: center;
}

.containerBtn a{
    color: rgb(255, 255, 255);
}

.btnForm{
    background-color: #406d5e98;
    border-radius: 6%;
    border: none ;
    padding: 2% 5% 2% 5%;
    margin: 9%;
    line-height: 110%;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: bold;
}
/* Final de Botones*/

/*Final-formulario*/

